.logo {
}
.logo-text {
}
.menu {
    display: flex;
    gap: 20px;
}
.menu-item {
    list-style-type: none;
}
.head {
}
.head-style {
}
.section-one-list {
}
.section-one-list-item {
}
.item-image {
}
.item-head {
}
.item-text {
}
.section-two-text {
}
.section-two-list {
}
.section-two-list-item {
}
.imege-two-item {
}
.item-two-head {
}
.item-two-text {
}
.footer-text {
}
.footer-input {
}
.footer-button {
}